In [13]:
import pandas as pd
import os

In [2]:
meses = ['janeiro','fevereiro','março','abril','maio','junho','julho','agosto','setembro','outubro','novembro','dezembro']

*****DADOS DE 2015*****

In [4]:
caminho = 'DadosBrutos/2015/2015_{}.csv'

#Lista na qual cada elemento é um dataframe de um mês do ano
lista = []

for i in range(1, 13):
  if i <= 10:
    lista.append(pd.read_csv(caminho.format(i), sep = ';', encoding = 'ISO-8859-1', parse_dates = True, low_memory=False))
  else:
    lista.append(pd.read_csv(caminho.format(i), sep = ',', encoding = 'ISO-8859-1', parse_dates = True, low_memory=False))
  lista[i-1].columns = ['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha', 'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista', 'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação', 'Justificativa']
  lista[i-1]['mês'] = meses[i-1]


  print(i, end=": ")
  print(lista[i-1].shape)
  print(lista[i-1].columns)
  print(meses[i-1])

#Observação: necessário usar um separador (sept) diferente para os arquivos dos meses 11 e 12

1: (114636, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
janeiro
2: (101993, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
fevereiro
3: (111007, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
março
4: (106920, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
abril
5: (108354, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
maio
6: (105698, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
junho
7: (112154, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
julho
8: (108044, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
agosto
9: (107418, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
setembro
10: (109146, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
outubro
11: (104384, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
novembro
12: (111816, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
dezembro

In [5]:
#Concatenação dos dataframes da lista para formar um único dataframe com todos os voos do ano
dados2015 = pd.concat(lista, axis = 0)

In [6]:
dados2015.head()

,Sigla da Empresa,Número do Voo,D I,Tipo de Linha,Aeroporto Origem,Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação,Justificativa,mês
0,RIO,5973,0,L,SBGR,SBSV,29/01/2015 03:20,29/01/2015 03:37,29/01/2015 05:50,29/01/2015 05:47,Realizado,RA,janeiro
1,AZU,2505,0,N,SBSM,SBPA,27/01/2015 05:10,27/01/2015 04:56,27/01/2015 05:50,27/01/2015 05:44,Realizado,HD,janeiro
2,AZU,2505,0,N,SBSM,SBPA,09/01/2015 05:10,09/01/2015 05:00,09/01/2015 05:50,09/01/2015 05:44,Realizado,HD,janeiro
3,RIO,5973,0,L,SBGR,SBSV,23/01/2015 03:20,23/01/2015 03:38,23/01/2015 05:50,23/01/2015 05:44,Realizado,MX,janeiro
4,AZU,2505,0,N,SBSM,SBPA,05/01/2015 05:10,05/01/2015 04:56,05/01/2015 05:50,05/01/2015 05:41,Realizado,HD,janeiro

In [7]:
#Quantidade de linhas e colunas
dados2015.shape

(1301570, 13)

In [17]:
#Criar pasta para salvar os arquivos de 2015
os.mkdir('./2015')

In [18]:
#Exportar dados de 2015 em arquivos .CSV mensais com a mesma formatação

nome = "2015/2015_{}.csv"
aux = 1
for i in lista:
    i.to_csv(nome.format(aux), index = False)
    print(nome.format(aux))
    aux += 1

2015/2015_1.csv
2015/2015_2.csv
2015/2015_3.csv
2015/2015_4.csv
2015/2015_5.csv
2015/2015_6.csv
2015/2015_7.csv
2015/2015_8.csv
2015/2015_9.csv
2015/2015_10.csv
2015/2015_11.csv
2015/2015_12.csv

In [8]:
#Nomes das colunas
dados2015.columns

Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')

*****DADOS DE 2016******

In [19]:
caminho = 'DadosBrutos/2016/2016_{}.csv'
lista.clear()

In [20]:
for i in range(1, 13):
  lista.append(pd.read_csv(caminho.format(i), sep = ';', encoding = 'ISO-8859-1', parse_dates = True, low_memory=False))
  lista[i-1].columns = ['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha', 'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista', 'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação', 'Justificativa']
  lista[i-1]['mês'] = meses[i-1]

  print(i, end=": ")
  print(lista[i-1].shape)
  print(lista[i-1].columns)
  print(meses[i-1])

1: (114259, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
janeiro
2: (101668, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
fevereiro
3: (101865, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
março
4: (98960, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
abril
5: (91856, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
maio
6: (88040, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
junho
7: (92586, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
julho
8: (91502, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
agosto
9: (86440, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
setembro
10: (89624, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
outubro
11: (87066, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
novembro
12: (95140, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
dezembro

In [21]:
dados2016 = pd.concat(lista, axis = 0)

In [22]:
dados2016.shape

(1139006, 13)

In [23]:
dados2016.columns

Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')

In [25]:
#Criar pasta para salvar os arquivos de 2016
os.mkdir('./2016')

In [26]:
#Exportar dados de 2016 em arquivos .CSV mensais com a mesma formatação

nome = "2016/2016_{}.csv"
aux = 1
for i in lista:
    i.to_csv(nome.format(aux), index = False)
    print(nome.format(aux))
    aux += 1

2016/2016_1.csv
2016/2016_2.csv
2016/2016_3.csv
2016/2016_4.csv
2016/2016_5.csv
2016/2016_6.csv
2016/2016_7.csv
2016/2016_8.csv
2016/2016_9.csv
2016/2016_10.csv
2016/2016_11.csv
2016/2016_12.csv

In [24]:
dados2016.head()

,Sigla da Empresa,Número do Voo,D I,Tipo de Linha,Aeroporto Origem,Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação,Justificativa,mês
0,AAL,203,0,I,SBCT,SBPA,30/01/2016 08:58,30/01/2016 08:58,30/01/2016 10:35,30/01/2016 10:35,REALIZADO,NaN,janeiro
1,AAL,203,0,I,SBPA,KMIA,13/01/2016 12:13,13/01/2016 12:13,13/01/2016 21:30,13/01/2016 21:30,REALIZADO,NaN,janeiro
2,AAL,203,0,I,SBPA,KMIA,29/01/2016 12:13,29/01/2016 12:13,29/01/2016 21:30,29/01/2016 21:30,REALIZADO,NaN,janeiro
3,AAL,203,0,I,SBPA,KMIA,19/01/2016 12:13,18/01/2016 12:03,19/01/2016 21:30,18/01/2016 20:41,REALIZADO,AT,janeiro
4,AAL,203,0,I,SBPA,KMIA,30/01/2016 12:13,30/01/2016 12:13,30/01/2016 21:30,30/01/2016 21:30,REALIZADO,NaN,janeiro

*****DADOS DE 2017******

In [30]:
caminho = 'DadosBrutos/2017/2017_{}.csv'
lista.clear()

In [31]:
for i in range(1, 13):
  if i == 9:
    lista.append(pd.read_csv(caminho.format(i), sep = ',', encoding = 'ISO-8859-1', parse_dates = True, low_memory=False))
  else:
    lista.append(pd.read_csv(caminho.format(i), sep = ';', encoding = 'ISO-8859-1', parse_dates = True, low_memory=False))
    if i == 12:
        lista[i-1].drop(columns=['Data Prevista'], inplace=True, axis=1)

  
  lista[i-1].columns = ['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha', 'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista', 'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação', 'Justificativa']
  lista[i-1]['mês'] = meses[i-1]

  
  print(i, end=": ")
  print(lista[i-1].shape)
  print(lista[i-1].columns)
  print(meses[i-1])

1: (98798, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
janeiro
2: (85000, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
fevereiro
3: (91859, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
março
4: (86204, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
abril
5: (90677, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
maio
6: (87872, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
junho
7: (96910, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
julho
8: (94185, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
agosto
9: (89453, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
setembro
10: (93546, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
outubro
11: (91543, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
novembro
12: (99437, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
dezembro

In [32]:
dados2017 = pd.concat(lista, axis = 0)

In [33]:
dados2017.shape

(1105484, 13)

In [34]:
dados2017.columns

Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')

In [35]:
dados2017.head()

,Sigla da Empresa,Número do Voo,D I,Tipo de Linha,Aeroporto Origem,Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação,Justificativa,mês
0,AAL,213,0,I,KMIA,SBBR,02/01/2017 01:20,02/01/2017 01:20,02/01/2017 09:00,02/01/2017 09:00,REALIZADO,NaN,janeiro
1,AAL,213,0,I,KMIA,SBBR,24/01/2017 01:20,24/01/2017 01:20,24/01/2017 09:00,24/01/2017 09:00,REALIZADO,NaN,janeiro
2,AAL,213,0,I,KMIA,SBBR,29/01/2017 01:20,29/01/2017 01:20,29/01/2017 09:00,29/01/2017 09:00,REALIZADO,NaN,janeiro
3,AAL,213,0,I,KMIA,SBBR,23/01/2017 01:20,23/01/2017 01:20,23/01/2017 09:00,23/01/2017 09:00,REALIZADO,NaN,janeiro
4,AAL,213,0,I,KMIA,SBBR,25/01/2017 01:20,25/01/2017 01:20,25/01/2017 09:00,25/01/2017 09:00,REALIZADO,NaN,janeiro

In [36]:
#Criar pasta para salvar os arquivos de 2017
os.mkdir('./2017')

#Exportar dados de 2017 em arquivos .CSV mensais com a mesma formatação

nome = "2017/2017_{}.csv"
aux = 1
for i in lista:
    i.to_csv(nome.format(aux), index = False)
    print(nome.format(aux))
    aux += 1

2017/2017_1.csv
2017/2017_2.csv
2017/2017_3.csv
2017/2017_4.csv
2017/2017_5.csv
2017/2017_6.csv
2017/2017_7.csv
2017/2017_8.csv
2017/2017_9.csv
2017/2017_10.csv
2017/2017_11.csv
2017/2017_12.csv

*****DADOS DE 2018*****

In [37]:
caminho = 'DadosBrutos/2018/2018_{}.csv'
lista.clear()

In [38]:
for i in range(1, 13):

  lista.append(pd.read_csv(caminho.format(i), sep = ';', encoding = 'ISO-8859-1', parse_dates = True, low_memory=False))
  lista[i-1].columns = ['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha', 'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista', 'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação', 'Justificativa']
  lista[i-1]['mês'] = meses[i-1]


  print(i, end=": ")
  print(lista[i-1].shape)
  print(lista[i-1].columns)
  print(meses[i-1])

1: (103497, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
janeiro
2: (89610, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
fevereiro
3: (90789, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
março
4: (79781, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
abril
5: (83754, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
maio
6: (80302, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
junho
7: (90216, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
julho
8: (84388, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
agosto
9: (80919, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
setembro
10: (83647, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
outubro
11: (80025, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
novembro
12: (87628, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
dezembro

In [39]:
dados2018 = pd.concat(lista, axis = 0)

In [40]:
dados2018.shape

(1034556, 13)

In [41]:
dados2018.columns

Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')

In [42]:
dados2018.head()

,Sigla da Empresa,Número do Voo,D I,Tipo de Linha,Aeroporto Origem,Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação,Justificativa,mês
0,AAL,1265,0,I,KMIA,SBEG,01/01/2018 20:30,01/01/2018 20:30,02/01/2018 01:53,02/01/2018 01:53,REALIZADO,NaN,janeiro
1,AAL,1265,0,I,KMIA,SBEG,02/01/2018 20:30,02/01/2018 20:30,03/01/2018 01:53,03/01/2018 01:53,REALIZADO,NaN,janeiro
2,AAL,1265,0,I,KMIA,SBEG,03/01/2018 20:30,03/01/2018 20:30,04/01/2018 01:53,04/01/2018 01:53,REALIZADO,NaN,janeiro
3,AAL,1265,0,I,KMIA,SBEG,04/01/2018 20:30,04/01/2018 20:30,05/01/2018 01:53,05/01/2018 01:53,REALIZADO,NaN,janeiro
4,AAL,1265,0,I,KMIA,SBEG,05/01/2018 20:30,05/01/2018 20:30,06/01/2018 01:53,06/01/2018 01:53,REALIZADO,NaN,janeiro

In [43]:
#Criar pasta para salvar os arquivos de 2018
os.mkdir('./2018')

#Exportar dados de 2018 em arquivos .CSV mensais com a mesma formatação

nome = "2018/2018_{}.csv"
aux = 1
for i in lista:
    i.to_csv(nome.format(aux), index = False)
    print(nome.format(aux))
    aux += 1

2018/2018_1.csv
2018/2018_2.csv
2018/2018_3.csv
2018/2018_4.csv
2018/2018_5.csv
2018/2018_6.csv
2018/2018_7.csv
2018/2018_8.csv
2018/2018_9.csv
2018/2018_10.csv
2018/2018_11.csv
2018/2018_12.csv

*****DADOS DE 2019*****

In [44]:
caminho = 'DadosBrutos/2019/2019_{}.csv'
lista.clear()

In [45]:
for i in range(1, 13):
  if i == 7:
    lista.append(pd.read_csv(caminho.format(i), sep = '\t', encoding = 'ISO-8859-1', parse_dates = True, low_memory=False))
  else:
    lista.append(pd.read_csv(caminho.format(i), sep = ';', encoding = 'ISO-8859-1', parse_dates = True, low_memory=False))
  lista[i-1].columns = ['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha', 'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista', 'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação', 'Justificativa']
  lista[i-1]['mês'] = meses[i-1]


  print(i, end=": ")
  print(lista[i-1].shape)
  print(lista[i-1].columns)
  print(meses[i-1])

1: (91817, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
janeiro
2: (79526, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
fevereiro
3: (83062, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
março
4: (77444, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
abril
5: (76701, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
maio
6: (74189, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
junho
7: (85672, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
julho
8: (80589, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
agosto
9: (80537, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
setembro
10: (84239, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
outubro
11: (80998, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
novembro
12: (88217, 13)
Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')
dezembro

In [46]:
dados2019 = pd.concat(lista, axis = 0)

In [47]:
dados2019.shape

(982991, 13)

In [48]:
dados2019.columns

Index(['Sigla  da Empresa', 'Número do Voo', 'D I', 'Tipo de Linha',
       'Aeroporto Origem', 'Aeroporto Destino', 'Partida Prevista',
       'Partida Real', 'Chegada Prevista', 'Chegada Real', 'Situação',
       'Justificativa', 'mês'],
      dtype='object')

In [49]:
dados2019.head()

,Sigla da Empresa,Número do Voo,D I,Tipo de Linha,Aeroporto Origem,Aeroporto Destino,Partida Prevista,Partida Real,Chegada Prevista,Chegada Real,Situação,Justificativa,mês
0,AAF,35,0,I,LFPO,SBKP,25/01/2019 06:15,25/01/2019 06:15,25/01/2019 18:15,25/01/2019 18:15,REALIZADO,NaN,janeiro
1,AAF,35,0,I,LFPO,SBKP,27/01/2019 06:15,27/01/2019 06:15,27/01/2019 18:15,27/01/2019 18:15,REALIZADO,NaN,janeiro
2,AAF,35,0,I,LFPO,SBKP,29/01/2019 06:15,29/01/2019 06:15,29/01/2019 18:15,29/01/2019 18:15,REALIZADO,NaN,janeiro
3,AAF,36,0,I,SBKP,LFPO,25/01/2019 20:15,25/01/2019 20:15,26/01/2019 07:45,26/01/2019 07:45,REALIZADO,NaN,janeiro
4,AAF,36,0,I,SBKP,LFPO,27/01/2019 20:15,27/01/2019 20:15,28/01/2019 07:45,28/01/2019 07:45,REALIZADO,NaN,janeiro

In [50]:
#Criar pasta para salvar os arquivos de 2019
os.mkdir('./2019')

#Exportar dados de 2019 em arquivos .CSV mensais com a mesma formatação

nome = "2019/2019_{}.csv"
aux = 1
for i in lista:
    i.to_csv(nome.format(aux), index = False)
    print(nome.format(aux))
    aux += 1

2019/2019_1.csv
2019/2019_2.csv
2019/2019_3.csv
2019/2019_4.csv
2019/2019_5.csv
2019/2019_6.csv
2019/2019_7.csv
2019/2019_8.csv
2019/2019_9.csv
2019/2019_10.csv
2019/2019_11.csv
2019/2019_12.csv